* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container-width {
  margin: auto;
  max-width: 1100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 80px;
}

.logo-text {
  font-size: 28px;
}

.nav-lists {
  display: flex;
  gap: 20px;
}

.nav-lists li {
  list-style: none;
}
.nav-lists a {
  text-decoration: none;
  color: #333;
}

.search-bar {
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #e2e2e2;
  padding: 12px 10px;
}

.search-btn {
  border: none;
  border-radius: 5px;
  background-color: #5c5c8a;
  color: white;
  padding: 12px;
  cursor: pointer;
}

.container {
  width: fit-content;
  margin: 8px auto;
  position: relative;
}

.slide {
  height: 460px;
  width: 1150px;
  border-radius: 10px;
}

.icon-action {
  height: 80px;
  position: absolute;
  height: 42px;
  top: 41%;
  cursor: pointer;
  transition: 0.5s;
}

.icon-prev {
  left: 0;
}

.icon-prev:hover {
  transform: scale(0.6);
}

.icon-next {
  right: 0;
}

.icon-next:hover {
  transform: scale(0.6);
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.brands {
  margin-top: 30px;
  margin-left: 80px;
  font-size: 25px;
}

.brand-logo {
  margin: 10px 30px;
  height: 110px;
  width: 110px;
  object-fit: contain;
}

.adv {
  display: flex;
  margin-bottom: 50px;
}

.text {
  margin: 10px 90px;
}

.vl {
  border-left: 5px solid black;
  height: 80px;
  margin-left: 210px;
}

.text-1 {
  margin: 32px 50px;
  color: grey;
}

.text-1:hover {
  color: black;
  transition: 0.7s;
}

.our-guarantees {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.menu-item {
  padding: 20px;
  cursor: pointer;
}

.menu-item:hover {
  border-radius: 10px;
  background-color: #80bfff;
  transform: translateY(-10px);
  transition: 1s;
  cursor: pointer;
}

.menu-icon {
  font-size: 32px;
  margin: 10px;
}

.menu-text {
  margin-bottom: 8px;
  font-weight: bold;
}

/* Card Styles */

.card-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 20px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-12px);
  transition: 0.5s;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

.card-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.card-button {
  display: inline-block;
  padding: 10px 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.card-button:hover {
  background-color: grey;
  transition: 0.5s;
}

.adv-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.banner {
  height: 300px;
  width: 1100px;
  border-radius: 8px;
  object-fit: cover;
}

.prim-text {
  text-align: center;
  margin: 15px;
  text-indent: 50px;
}

.sec-text {
  text-align: center;
  color: grey;
  text-indent: 50px;
  margin-bottom: 20px;
}

.Subscription-container {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.Subscription-box {
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid grey;
  width: 250px;
  font-weight: bold;
}

.Subscription-button {
  margin-left: 8px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 100px;
  font-weight: bold;
  color: white;
  background-color: black;
}

.Subscription-button:hover {
  background-color: grey;
  transition: 1s;
  cursor: pointer;
}

.sec-text-1 {
  text-align: center;
  color: grey;
  margin-bottom: 30px;
}

.real-price {
  color: grey;
  font-weight: lighter;
}

footer {
  background-color: #e6e6ff;
  color: black;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 0;
  padding: 0 20px;
}

.footer-section {
  margin: 35px;
  margin-bottom: 60px;
}

.company-info {
  flex: 2;
  text-align: left;
}

.company-info h2 {
  font-size: 28px;
  color: black;
  margin-bottom: 10px;
}

.company-info p {
  font-size: 16px;
  color: #5c5c8a;
  font-weight: bold;
}

.footer-section h3 {
  font-size: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  line-height: 1.8;
}

.footer-section ul li a {
  color: #5c5c8a;
  text-decoration: none;
  font-weight: bold;
}

.footer-section ul li a:hover {
  color: black;
  text-decoration: underline;
}

.payment-icons img {
  width: 50px;
  margin-left: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 15px;
  font-size: 14px;
  color: #5c5c8a;
  font-weight: bold;
}
