* {
  margin: 0;
  padding: 0;
  font-family: sans-serif
}

.navbar {
  padding: 25px 0;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.li {
  margin: 6px 22px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 20px;
}

.navbar a:hover{
  background-color:#b3d9ff;
  transition: 0.8s;
}

.search {
  padding: 8px;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: -5px;
  border-radius: 5px;
  width: 220px;
  border: none;
  background-color: #e0e0eb;
}

.Signup-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: black;
  margin: 0 10px;
  width: 80px;
  font-weight: bold;
  cursor: pointer;
}

.Signup-btn:hover {
  background-color: grey;
  transition: 1s;
  cursor: pointer;
}

.logo-text {
  padding: 0 40px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.model {
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
  position: relative;
}

.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 20px;
  padding: 6px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-heading {
  font-size: 25px;
  margin: 5px;
  margin-top: 8px;
  color: #3d3d5c;
}

.form-input {
  width: 280px;
  margin: 10px 0;
  font-size: 20px;
  padding: 5px 10px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 13px;
}

.btn-signup {
  padding: 9px;
  width: 305px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  background-color: black;
  cursor: pointer;
}

.container {
  width: fit-content;
  margin: 8px auto;
  position: relative;
}

.slide {
  height: 440px;
  width: 1150px;
  border-radius: 10px;
}

.icon-action {
  height: 80px;
  position: absolute;
  height: 42px;
  top: 41%;
  cursor: pointer;
  transition: 0.5s;
}

.icon-prev {
  left: 0;
}

.icon-prev:hover {
  transform: scale(0.6);
}

.icon-next {
  right: 0;
}

.icon-next:hover {
  transform: scale(0.6);
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.brands {
  margin-top: 30px;
  margin-left: 80px;
  font-size: 25px;
}

.brand-logo {
  margin: 10px 30px;
  height: 110px;
  width: 110px;
  object-fit: contain;
}

.adv {
  display: flex;
  margin-bottom: 50px;
}

.text {
  margin: 10px 90px;
}

.vl {
  border-left: 5px solid black;
  height: 90px;
  margin-left: 60px;
}

.text-1 {
  margin: 32px 50px;
  color: grey;
}

.text-1:hover {
  color: black;
  transition: 0.7s;
}

.our-guarantees {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.menu-item {
  padding: 20px;
  cursor: pointer;
}

.menu-item:hover {
  border-radius: 10px;
  background-color: #80bfff;
  transform: translateY(-10px);
  transition: 1s;
  cursor: pointer;
}

.menu-icon {
  font-size: 32px;
  margin: 10px;
}

.menu-text {
  margin-bottom: 8px;
  font-weight: bold;
}

/* Card Styles */

.card-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 20px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-12px);
  transition: 0.5s;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

.card-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.card-button {
  display: inline-block;
  padding: 10px 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.card-button:hover {
  background-color: grey;
  transition: 0.5s;
}

.adv-container {
  display: flex;
  justify-content: center;
  margin: 40px 20px;
}

.banner {
  height: 300px;
  width: 1100px;
  border-radius: 8px;
  object-fit: cover;
}

.prim-text {
  text-align: center;
  margin: 15px;
  text-indent: 50px;
}

.sec-text {
  text-align: center;
  color: grey;
  text-indent: 50px;
  margin-bottom: 20px;
}

.Subscription-container {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.Subscription-box {
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid grey;
  width: 250px;
  font-weight: bold;
}

.Subscription-button {
  margin-left: 8px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 100px;
  font-weight: bold;
  color: white;
  background-color: black;
}

.Subscription-button:hover {
  background-color: grey;
  transition: 1s;
  cursor: pointer;
}

.sec-text-1 {
  text-align: center;
  color: grey;
  margin-bottom: 30px;
}

.real-price {
  color: grey;
  font-weight: lighter;
}

footer {
  background-color: #e6e6ff;
  color: black;
  padding: 20px 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 20px;
}

.footer-section {
  margin: 35px;
  margin-bottom: 60px;
}

.company-info {
  flex: 2;
  text-align: left;
}

.company-info h2 {
  font-size: 28px;
  color: black;
  margin-bottom: 10px;
}

.company-info p {
  font-size: 16px;
  color: #5c5c8a;
  font-weight: bold;
}

.footer-section h3 {
  font-size: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  line-height: 1.8;
}

.footer-section ul li a {
  color: #5c5c8a;
  text-decoration: none;
  font-weight: bold;
}

.footer-section ul li a:hover {
  color: black;
  text-decoration: underline;
}

.payment-icons img {
  width: 50px;
  margin-left: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 15px;
  font-size: 14px;
  color: #5c5c8a;
  font-weight: bold;
}